# Copy this file to `.env` locally if you want a simple place to store
# dataset download URLs that should not be committed.

DAISEE_URL=PASTE_THE_APPROVAL_EMAIL_URL_HERE
MOSEI_URL=PASTE_THE_OFFICIAL_MOSEI_SOURCE_URL_HERE
ENGAGENET_SHARE_URL=PASTE_THE_ONEDRIVE_SHARE_URL_HERE
ENGAGENET_DRIVE_ID=PASTE_THE_ONEDRIVE_DRIVE_ID_HERE
ENGAGENET_ROOT_ITEM_ID=PASTE_THE_ONEDRIVE_ROOT_ITEM_ID_HERE
